<div class="container bg-secondary rounded px-4 py-2 shadow-lg">
  <div class="form-wrapper">
    <%= form_with(model: @task, class: "form-group", local: true) do |f| %>
      <%= render 'shared/errors', obj: @task%>
        <%= f.label :title, class: "text-white font-weight-bold" %>
        <%= f.text_field :title, class: "form-control", placeholder: "Enter the title" %>
        
        <%= f.label :description, class: "text-white font-weight-bold pt-2" %>
        <%= f.text_area :description, class: "form-control", placeholder: "type here" %>

        <%= f.label :category,'Categories', class: "text-white font-weight-bold pt-2" %>
        <%= f.collection_select(:category_ids, Category.all, :id, :cname,
          {prompt: "Select categories here (can be empty):"}, { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
      
        <%= f.label :tdate, 'Start Date', class: "text-white font-weight-bold pt-2" %>
        <%= f.date_field :tdate, class:'form-control' %>
   
        <div class='text-center mt-3'>
        <%= f.submit(class: "btn btn-info") %>
        <br>
        <%= link_to "back to task", tasks_path, class: "text-info" %>
        </div>
    <% end %>
  </div> 
</div>
