<div class='d-flex flex-column  align-items-center mt-3'>
  <div class="card text-center w-75 shadow-lg bg-dark">
  <h1 class='text-center pt-4 text-white text-uppercase font-weight-bold bi bi-badge-tm-fill'></h1>
  <% @tasks.each do |task| %>
    <div class='border-top border-bottom my-3 rounded w-75 mx-auto'>
      <div class="card-header bg-secondary text-white">
        <% if task.user %>
          <i class="bi bi-person-circle"></i>
          <%= task.user.name %>
        <% end %>
      </div>
    
      <div class="card-body bg-white">
        <h5 class="card-title"><%= task.title %></h5>
        <p class="card-text"><%= task.description %></p>
        <%= link_to 'Show', task , class: 'btn btn-sm btn-primary' %>
        <% if logged_in? && (task.user == current_user) %>
        <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-sm btn-info' %>
        <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        <% end%>
      </div>
      <div class="card-footer text-white bg-secondary">
        <small>Created <%= time_ago_in_words(task.created_at) %> ago</small>
      </div>
    </div>
    <% end %>
    <% if logged_in? %>
      <%= link_to 'New Task', new_task_path , class: 'btn btn-dark' %>
    <% end %>
  </div>
</div>

