<div class='d-flex flex-column align-items-center pt-2'>
  <div class="card text-center w-75">
  <% @tasks.each do |task| %>
    <div class="card-header">
      <% if task.user %>
      <i class="bi bi-person-circle"></i>
        <%= task.user.name %>
      <% end %>
    </div>
   
    <div class="card-body">
      <h5 class="card-title"><%= task.title %></h5>
      <p class="card-text"><%= task.description %></p>
      <%= link_to 'Show', task , class: 'btn btn-primary' %>
       <% if logged_in? %>
      <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-primary' %>
      <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
      <% end%>
    </div>
     <div class="card-footer text-muted">
      <small>Created <%= time_ago_in_words(task.created_at) %> ago, 
      edited <%= time_ago_in_words(task.updated_at) %> ago</small>
    </div>
    <% end %>
  </div>
  <br>
    <% if logged_in? %>
      <%= link_to 'New Task', new_task_path , class: 'btn btn-primary' %>
    <% end %>
</div>

