<div class="container bg-secondary w-50 rounded px-5 py-3 shadow-lg">
<div class="form-wrapper">
    <%= form_with(model: @user, class: "form-group", local: true) do |f| %>
      <%= render 'shared/errors', obj: @user%>
        <%= f.label :name, class: "text-white font-weight-bold" %>
        <%= f.text_field :name, class: "form-control border", placeholder: "Enter your name" %>
       
        <%= f.label :email, class: "text-white font-weight-bold pt-2" %>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address" %>

        <%= f.label :password, class: "text-white font-weight-bold pt-2" %>
        <%= f.password_field :password, class: "form-control", placeholder: "Type a password" %>

        <div class='text-center mt-3'>
         <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-secondary btn-outline-dark text-white") %>
        </div>
    <% end %>

  </div>
</div> 