<div class='d-flex flex-column align-items-center my-3 w-75 shadow-lg bg-dark mx-auto rounded categories_bg {
  animation: fade-from-center 1.5s ease-in forwards;
}'>
  <h1 class='text-center mt-4 px-2 text-white text-uppercase font-weight-bold border-bottom  border-top border-light rounded'>Categories</h1>
   
   <div class="card text-center w-75 mb-4 d-flex flex-row bg-dark border-0">
  <% @categories.each do |category| %>
    <div class='border my-3 rounded w-25 mx-2 px-2 bg-secondary cat_hover'>
      <div class='card-body'>
        <h4 class="card-title text-white text-uppercase"><%= category.cname %></h4>
        <p class="card-text text-white"><%= pluralize(category.tasks.count, "task") %></p>
        <small>Created <%= time_ago_in_words( category.created_at) %> ago</small>
        <% if logged_in? %>
        <div>
        <%= link_to '', edit_category_path(category), class: 'btn btn-sm btn-info bi bi-pencil-fill' %> 
        </div>
        <% end %>
     </div>
    </div>
    <% end %>
  </div>
     <% if logged_in? %>
      <%= link_to 'New Category', new_category_path , class: 'btn btn-outline-secondary mb-3 text-white' %>
    <% end %>
</div>
